


<section id="contact" class="s-contact target-section" style="background-image: url('hola-master\images\wheel-1000.jpg');">
    <div class="row narrow section-intro">
        <div class="col-full">
            <h3>İletişim</h3>
            <br />
        </div>
    </div>
    <div class="row about-content about-content--buttons">
        <div class="tab-full">
            <a href="#" class="btn full-width" onclick="redirectToMail()" itemid="contact"><strong>Bana Yazın</strong></a>
        </div>
    </div> <!-- end about-content buttons -->
</section>


@* <section id="contact" class="s-contact target-section" style="background-image: url('hola-master\images\wheel-1000.jpg');">

    <div class="row narrow section-intro">
        <div class="col-full">
            <h3>İletişim</h3>
            <p class="lead">Lorem ipsum Dolor adipisicing nostrud et aute Excepteur amet commodo ea dolore irure esse Duis nulla sint fugiat cillum ullamco proident aliquip quis qui voluptate dolore veniam Ut laborum non est in officia.</p>
        </div>
    </div>

    <div class="row about-content about-content--buttons">
        <div class="tab-full" >
            <a href="#" class="btn full-width" onclick="redirectToMail()" itemid="contact"><strong>Bana Yazın</strong></a>
        </div>
    </div> <!-- end about-content buttons -->
</section> *@

<script>
function redirectToMail() {
    // Mailto linkine tıklandığında, kullanıcıyı mail atma sayfasına yönlendirin
    window.location.href = "mailto:81eryilmaz81@gmail.com";
}

</script>
